<h2>Moje porudzbine</h2>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Id porudzbine</th>
      <th>Knjige</th>
      <th>Ukupno za placanje</th>
      <th>Status porudzbine</th>
    </tr>
  </thead>
  <tbody>

 <tr *ngFor="let item of mojePorudzbine; let i = index">
  <ng-container *ngIf="item.isFinished == false">
    <th>{{item.id}}</th>
    <th>{{item.ukupnoZaPlacanje}} RSD</th>
    <th>
      <span *ngFor="let smth of item.knjige; let i = index">
       Naslov: {{smth.naslov}},<br> Autor: {{smth.autor}},<br>
       <span style="color: rgb(19, 87, 132);">Kolicina - {{smth.kolicina}} <br> </span>
      </span>
    </th>
    <th style="color: red;">Neobradjena</th>
  </ng-container>

  <ng-container *ngIf="item.isFinished">
    <th>{{item.id}}</th>
    <th>{{item.ukupnoZaPlacanje}} RSD</th>
    <th>
      <span *ngFor="let smth of item.knjige; let i = index">
       Naslov: {{smth.naslov}},<br> Autor: {{smth.autor}},<br>
       <span style="color: rgb(19, 87, 132);">Kolicina - {{smth.kolicina}} <br> </span>
      </span>
    </th>
    <th *ngIf="item.isFinished" style="color: rgb(73, 179, 73);">Obradjena</th>
  </ng-container>
  </tr>
