<div class="container custom min-visina">
  <div class="card col-10 m-auto p-3">
      <div class="wrap">
          <div class="card-header">
              <h1>Dobrodošli na zvanični sajt eKnjizare!
              </h1><br> Nudimo veliki broj knjiga iz različitih kategorija po najpovoljnijim cenama. Imamo prodajna mesta na više lokacija na teritoriji Republike Srbije, i moguća je dostava bilo gde. Za sva dodatna pitanja, možete nam se obratiti na
              mejl: <br><br>
              <h5><a href="mailto:pramenkovicdalila@gmail.com" style="color: red; text-decoration: none;">pramenkovicdalila@gmail.com</a></h5>
          </div>
          <div class="row">
              <div class="card-body col-lg-6">
                  <h5>Motivacija</h5>
                  Paralelno sa razvojem tradicionalne prodajne mreže, eKnjizara predstavlja i nova online rešenja.
                  Tako je 2022. počeo sa radom online servis za naručivanje i dostavu knjiga, pod  nazivom eKnjizara.
                   Asortiman sa velikim izborom artikala, mogućnost
                  lake kupovine, te besplatna dostava do kućnog praga ono su sto cete voleti kod eKnjizare.
                  <strong>Uzivajte u kupovini!</strong>
              </div>
              <br>
              <img src="https://res.cloudinary.com/daq9ulbte/image/upload/v1663708364/jjgdq5weeb0mck4dkm13.webp" style="width: 10rem; height: 10rem; margin-top:1rem" alt="">
          </div>

          <!-- <input type="file" (change)="onFileSelected($event)">
<button value="upload" (click)="onUpload()">Posalji</button> -->
      </div>
  </div>
</div>
