.card:hover img {
  transform: scale(1.15, 1.15);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: .6;
  }

  .card img {
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 19rem;

  }

  .img-wrapper {
  overflow: hidden;
  }
